<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        {% block head %}
            <meta charset="utf-8" />

            {% block meta %}{% endblock %}
            <title>{% block title %}blogaboutwhatever.com's playground{% endblock %}</title>

            {% block stylesheets %}{% endblock %}
            {% block link %}<link rel="icon" type="image/x-icon" href={{ asset('favicon.ico') }} />{% endblock %}
        {% endblock %}
    </head>
    <body>
       {% block body %}
           {% block body_header %}{% endblock %}
           {% block body_main %}{% endblock %}
           {% block body_footer %}{% endblock %}
       {% endblock %}
       {% block javascripts %}{% endblock %}
    </body>

</html>


