{% extends 'HrBundle:Default:base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/jquerymobile.css') }}" media="screen"/>
    <link rel="stylesheet" href="{{ asset('css/qunit.css') }}" media="screen"/>
    <!--
        <link rel="stylesheet" href="http://app/jquery/mobile/jquery.mobile-1.4.5.min.css" />
        <link rel="stylesheet" href="qunit/css/qunit-1.16.0.css">
    -->
{% endblock %}

{% block body %}
    <div id="qunit"></div>
    <div id="qunit-fixture"></div>

    {% block javascripts %}
        {% javascripts
            '@jquery_and_ui'
            '@qunit' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <!--
            <script src="http://app/jquery/js/generic/jquery-2.1.3.js"></script>
            <script src="http://app/jquery/js/mobile/jquery.mobile-1.4.5.min.js"></script>
            <script src="qunit/js/qunit-1.16.0.js"></script>
            <script src="src/js/tests/tests.js"></script>
        -->
    {% endblock %}

{% endblock %}