{% extends 'HrBundle:Default:base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/jquerymobile.css') }}" media="screen"/>
    <link rel="stylesheet" href="{{ asset('css/qunit.css') }}" media="screen"/>
{% endblock %}

{% block body %}
    <div id="qunit"></div>
    <div id="qunit-fixture"></div>

    {% block javascripts %}
        {% javascripts
            '@jquery_and_ui'
            '@qunit' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}

{% endblock %}