<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <meta charset="utf-8" />
        {% block meta %}{% endblock %}
        <title>{% block title %}blogaboutwhatever.com's playground{% endblock %}</title>

        <!--
          <link rel="stylesheet" href="http://app/jquery/js/mobile/jquery.mobile-1.4.5.min.css" />
        -->
        <link rel="stylesheet" href="http://app/jquery/mobile/jquery.mobile-1.4.5.min.css" />

        {% block stylesheets %}{% endblock %}
        {% block link %}<link rel="icon" type="image/x-icon" href="{{ asset('favicon_php.ico') }}" />{% endblock %}
    </head>
    <body>
        {% block body %}
           {% block body_header %}{% endblock %}
           {% block body_main %}{% endblock %}
        {% endblock %}

        <script src="http://app/jquery/js/generic/jquery-2.1.3.js"></script>
        <script src="http://app/jquery/js/mobile/jquery.mobile-1.4.5.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>


