{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="qunit/css/qunit-1.16.0.css">
{% endblock %}

{% block body %}
    <div id="qunit"></div>
    <div id="qunit-fixture"></div>
    <script src="qunit/js/qunit-1.16.0.js"></script>
    <script src="js/tests/tests.js"></script>
{% endblock %}