{% extends 'HrBundle:Games:index.html.twig' %}

{% block title %}
    Conways Game of Life
{% endblock %}

{% block body_main %}

    <div data-role="controls" id="buttons">
        <div data-role="content">
            <div data-role="controlgroup" data-type="horizontal" data-corners="true" data-mini="true" data-shadow="true">
                <a href="#" data-role="button" data-theme="a" data-icon="arrow-r" name="start" onclick="simulationStart();">start</a>
                <a href="#" data-role="button" data-theme="a" data-icon="minus"   name="stop"  onclick="simulationStop();">stop</a>
                <a href="#" data-role="button" data-theme="a" data-icon="gear"    name="reset" onclick="simulationReset();">init</a>
                <a href="#" data-role="button" data-theme="a" data-icon="delete"  name="clean" onclick="simulationClean(true);">clean</a>
                <a href="#" data-role="button" data-theme="a" data-icon="grid"    name="mode"  onclick="changeMode();">mode</a>
                <a href="#" data-role="button" data-theme="a" data-icon="info"    name="info"  onclick="showInfo();">info</a>
                <a href="http://app/games" data-theme="a" data-role="button" data-icon="home"    name="home"  >home</a>
            </div>
        </div>
    </div>

    <div id="subinfo" class="siminfo moreinfo">- Conways Game of Life -</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!--
    <script type="text/javascript">
        $(function() {
            alert('WAHOO')
        });
    </script>
    -->
{% endblock %}

