{% extends 'HrBundle:Games:index.html.twig' %}

{% block title %}
    Conway's Game of Life
{% endblock %}

{% block body_main %}

<div id="body_main" class="mainindex relpos minpad" >

    <div class="ui-grid-solo">
        <div class="ui-block-a">
            <div id="container" class="relpos simsize"></div>
        </div>
    </div>

    <div class="ui-grid-b">
        <div class="ui-block-a">
            <button type="button" id="start" data-theme="a" data-icon="arrow-r"
                    data-mini="true" data-shadow="true" data-corners="true" >start</button>
        </div>
        <div class="ui-block-b">
            <button type="button" id="stop" data-theme="a" data-icon="minus"
                    data-mini="true" data-shadow="true" data-corners="true">stop</button>
        </div>
        <div class="ui-block-c">
            <button type="button" id="reset" data-theme="a" data-icon="gear"
                    data-mini="true" data-shadow="true" data-corners="true" >reset</button>
        </div>
    </div>

    <div class="ui-grid-c" >
        <div class="ui-block-a">
            <button type="button" id="home" data-theme="a" data-icon="home"
                    data-mini="true" data-shadow="true" data-corners="true" >home</button>
        </div>
        <div class="ui-block-b">
            <button type="button" id="clean" data-theme="a" data-icon="delete"
                    data-mini="true" data-shadow="true" data-corners="true" >clean</button>
        </div>
        <div class="ui-block-c">
            <button type="button" id="mode" data-theme="a" data-icon="grid"
                    data-mini="true" data-shadow="true" data-corners="true" >mode</button>
        </div>
        <div class="ui-block-d">
            <button type="button" id="info" data-theme="a" data-icon="info"
                    data-mini="true" data-shadow="true" data-corners="true" >info</button>
        </div>
    </div>

</div>
{% endblock %}

{% block header_details %}
    <div id="subinfo" class="siminfo moreinfo">- Conway's Game of Life -</div>
{% endblock %}

{% block javascripts %}
    {% javascripts '@jquery_and_ui'
                   '@bundle_hr_js_simulation' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}

