{% extends 'HrBundle:Games:index.html.twig' %}

{% block title %}
    Solitaire
{% endblock %}

{% block body_header %}
    {{ parent() }}
{% endblock %}


{% block body_main %}

    <div data-role="container" id="container"></div>

    <div data-role="controls" id="buttons-bottom">
        <div data-role="content">
            <div data-role="controlgroup" data-type="horizontal" data-corners="true" data-mini="true" data-shadow="true">
                <a href="http://app/games" data-theme="a" data-role="button" data-icon="home"    name="home"  >home</a>
                <a href="#" data-role="button" data-theme="a" data-icon="gear"  id="reset"  name="reset" >reset</a>
            </div>
        </div>
    </div>

    <div id="timerdiv" class="siminfo"></div>
    <div id="runtimeinfo" class="siminfo"></div>
    <div id="errorinfo" class="siminfo"></div>
    <div id="subinfo" class="siminfo moreinfo">- Solitaire -</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts '@jquery_and_ui'
                   '@bundle_hr_js_solitaire' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}

