{% extends 'HrBundle:Default:base.html.twig' %}

{% block title %}
    Tests for Conway's Game of Life
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/jquerymobile.css') }}" media="screen"/>
    <link rel="stylesheet" href="{{ asset('css/qunit.css') }}" media="screen"/>
{% endblock %}

{% block body %}
    <div id="qunit"></div>
    <div id="qunit-fixture"></div>
    <div id="for-qunit-tests-A"></div>
    <div id="for-qunit-tests-B"></div>

    {% javascripts
        '@jquery_and_ui'
        '@qunit'
        '@bundle_hr_js_simulation'
        '@bundle_hr_js_tests' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}