
@import 'iscreen.css';

body { margin:0; font-family: Helvetica; background: #FFFFFF; color: #000000; overflow-x:hidden;
       max-width: 320px;
      -webkit-user-select: none;
      -webkit-text-size-adjust: auto;
      /* prevent default long touch behavior of mobile safari */
      -webkit-touch-callout: none;
     }
   
.container { position: absolute; width: 100%; }
.gamecontainer { position: absolute; width: 300px; }
.controlcontainer { position: absolute; width: 320px; }
.anchorTop {top: 0;}
.anchorBottom {border-top: 1px solid #3f4e63; padding-bottom: 9px; bottom: 0;}
.hidden {display: none;}
.visible {display: block;}

body[orient="profile"] .container {height: 416px; }
body[orient="landscape"] .container { height: 268px; }
body[orient="landscape"] .toolbar {font-size: 20px;}

.toolbar {position: relative; padding: 10px 0; width: 100%; height: 20px; font-size: 20px; 
         font-weight: bold; text-align: center; text-shadow: #3F4E63 0px -1px 1px; color:#FFFFFF;
         background: url('../images/iphone/toolbar.png') #71a8aa repeat-x; }
       
.toolbar > h1 { color:#FFFFFF; font-size:20px; font-weight:bold; height:45px; left:50%; margin:1px 0 0 -75px;
                overflow:hidden; padding-top:10px; position:relative; text-align:center; text-shadow:0 -1px 0 rgba(0, 0, 0, 0.4);
                white-space:nowrap;}
 
.body.simulation { border:none; 
				   display: block;
			       position: absolute;
			       margin: 10px 10px; 
			       padding: 0;
				   left: 0;
				   top: 0;
				   width: 100%;
				   height: auto;
				   min-height: 420px;
				   -webkit-transition-duration: 300ms;
				   -webkit-transition-property: -webkit-transform;
				   -webkit-transform: translateX(0%); 
				  }
                       
                
/* button definitions */
.button { position: absolute; overflow: hidden; top: 8px; right: 6px; margin: 0; border-width: 0 5px; padding: 0 3px;
          width: auto; height: 30px; line-height: 30px; font-family: inherit; font-size: 12px; font-weight: bold;
          color: #FFFFFF; text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0; text-overflow: ellipsis; text-decoration: none;
          white-space: nowrap; background: none; }

.left {display: block;left: 6px;right: auto;}
.right {display: block;left: auto ;right: 6px;}
          
.back { display: block;left: 6px;right: auto; padding: 0; width: 43px; border-width: 0 8px 0 14px; 
        background: url('../images/iphone/backButton.png') no-repeat scroll 0 0;}

.forward { width: 43px; background: url('../img/iphone/longButton.png') no-repeat scroll 0 0; }

.backButton { display: block;left: 6px;right: auto; padding: 0; max-width: 55px; border-width: 0 8px 0 14px; 
              background: url('../images/iphone/mybackButton.png') repeat-x scroll 0 0;}
 
              
/* more buttons */    
.simbutton {  width: 300px; bottom:0px;left:0px; height:50px; margin:15px 1px 1px 1px;}

.simbutton > input{ font-size: 13px; margin: 0 2px 0 2px; font-weight:bold; height:30px; width:52px; 
                    border: 1px solid #7A7A7A; 
                     -webkit-appearance: square-button;  
                     -webkit-border-radius: 9px;           
                   }
                   
.solbutton {  width: 85px; bottom:0px;left:0px; height:50px; margin:15px 1px 1px 1px;}
.solbutton > input{ font-size: 13px; margin: 0 2px 0 2px; font-weight:bold; height:30px; width:60px; 
                    border: 1px solid #7A7A7A; 
                     -webkit-appearance: square-button;  
                     -webkit-border-radius: 9px;           
                   }   

.gamebutton {  width: 62px; bottom:0px;left:0px; height:50px; margin:15px 1px 1px 1px;}
.gamebutton > input{ font-size: 13px; margin: 0 2px 0 2px; font-weight:bold; height:30px; width:60px; 
                    border: 1px solid #7A7A7A; 
                     -webkit-appearance: square-button;  
                     -webkit-border-radius: 9px;           
                   }                      
                                   
                   
.start {background: #007F00; color: #FFFFFF; }
.stop  {background: #EF0000; color: #FFFFFF; }
.reset {background: #0000EF; color: #FFFFFF; } 
.clean {background: #66CCFF; color: #FFFFFF; }
.mode  {background: #C6C6C6; color: #666666; } 
.altreset {background: #95734d; color: #FFFFFF; } 
 
/* controlpad styles */
.controlpad { position: absolute; background: #bba387; color: #95734d; }
                 
/* siminfo styles */   
.siminfo{text-align: center; width: 320px; top:0px;left:0px;font-size: 10px}
.siminfo > table{text-align: left; margin: 0; padding: 0;}
.siminfo.moreinfo {font-size:8px; color: #EF0000}
         
/* index styles  - index pics are of size 71x71 */
.mainindex_top { background: rgba(92, 138, 140, 0.63); color: #FFFFFF; max-width: 320px; height: 40px; padding: 5px 5px;
                 font-size:16px; font-weight:bold; }

.mainindex { background: rgba(114, 170, 172, 0.58); color: #666666; max-width: 320px; min-height: 420px;
             padding: 20px 10px; text-align: center;
           }
.mainindex.table { width=100%; }

    
/* panel and toggle stuff */
.panel { background: #C8C8C8 url(../images/iphone/pinstripes.png) repeat scroll 0 0;
 	    box-sizing: border-box; 
       -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
       padding: 10px;}

.panel > ul, 
.panel > fieldset { position: relative; margin: 0 0 20px 0; padding: 0; background: #FFFFFF; 
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    border: 1px solid #999999; text-align: right; font-size: 16px;
                  } 
                                                      
.panel > ul li,                  
.row  { position: relative; min-height: 42px; border-bottom: 1px solid #999999;
        /*-webkit-border-radius: 0; -moz-border-radius: 0; */
        text-align: right; }

.panel > ul li:last-child,
fieldset > .row:last-child {
    border-bottom: none !important;
}


/* row stuff */

/*
.row > input:not(input[type|=radio]):not(input[type|=checkbox]) {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    border: none;
    padding: 12px 10px 0 110px;
    height: 42px;
    background: none; 
} 
*/
.row > input[type|=text], .row > input[type|=password] {
    margin: 6px 6px 0 0;
    border: 1px solid #3f4e63;
    padding: 5px 0 0 0; 
    height: 25px;
    background: none; 
    text-align: left;
    font-size: 16px;
} 


.row > input[type|=radio], .row > input[type|=checkbox] {
  margin: 7px 7px 0 0;
  height: 25px;
  width: 25px;
}

.row > label {
    position: relative;
    margin: 0 0 0 14px;
    line-height: 42px;
    font-weight: bold;
    float: left; 
}

.row > span {
    position: absolute;
    padding: 12px 10px 0 110px;
    margin: 0;
}

.row > .toggle {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 100px;
    height: 28px;
}

.toggle {
	background: #194fdb url('../images/iphone/toggle.png') repeat-x;
    border: 1px solid #888888;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    font-size: 19px;
    font-weight: bold;
    line-height: 30px;
}

.toggle[toggled="true"] {
	background: #194fdb url('../images/iphone/toggleOn.png') repeat-x;
    border: 1px solid #143fae;
}

.toggleOn {
    display: none;
    position: absolute;
    width: 60px;
    text-align: center;
    left: 0;
    top: 0;
    color: #FFFFFF;
    text-shadow: rgba(0, 0, 0, 0.4) 0px -1px 0;
}

.toggleOff {
    position: absolute;
    width: 60px;
    text-align: center;
    right: 0;
    top: 0;
    color: #666666;
}

.toggle[toggled="true"] > .toggleOn {
    display: block;
}

.toggle[toggled="true"] > .toggleOff {
    display: none;
}

.thumb {
	background: #ffffff url('../images/iphone/thumb.png') repeat-x;
    position: absolute;
    top: -1px;
    left: -1px;
    width: 40px;
    height: 28px;    
    border: 1px solid #888888;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}

.toggle[toggled="true"] > .thumb {
    left: auto;
    right: -1px;
}

.panel > h2 {
    margin: 0 0 8px 14px;
    font-size: inherit;
    font-weight: bold;
    color: #4d4d70;
    text-shadow: rgba(255, 255, 255, 0.75) 2px 2px 0;
}

/************************************************************************************************/

body > ul {
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0;
    top: 45px;
    width: 100%;
    height: auto;
    min-height: 415px;
    -webkit-transition-duration: 300ms;
    -webkit-transition-property: -webkit-transform;
    -webkit-transform: translateX(0%);
}     

              
li > a[selected], li > a:active { background-image: url('../images/iphone/listArrowSel.png'), url(selection.png) !important; }
li > a[selected="progress"] { background-image: url('../images/iphone/loading.gif'), url(selection.png) !important; }


body > ul > li {
    position: relative;
    margin: 0;
    border-bottom: 1px solid #E0E0E0;
    padding: 8px 0 8px 10px;
    font-size: 20px;
    font-weight: bold;
    list-style: none;
}

body > ul > li > a {
    display: block;
    margin: -8px 0 -8px -10px;
    padding: 8px 32px 8px 10px;
    text-decoration: none;
    color: inherit;
    background: url('../images/iphone/listArrow.png') no-repeat right center;
}

body > ul > li > a> img {
    display: inline;
    margin: 0 5px 0 0;
    width: 25px;
    height:25px
    border: none
}

.smallimg {
    display: inline;
    margin: 0 5px 0 0;
    width: 25px;
    height:25px
    border: none
}

body > ul > li.group {
    position: relative;
    top: -1px;
    margin-bottom: -2px;
    border-top: 1px solid #7d7d7d;
    border-bottom: 1px solid #999999;
    padding: 1px 10px;
    font-size: 17px;
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
    color: #FFFFFF;
}

body > ul > li.group:first-child {
    top: 0;
    border-top: none;
}


a[target="_replace"] {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 18px;
    color: cornflowerblue;
    background-color: #FFFFFF;
    background-image: none;        
}

/************************************************************************************************/
