/*
  some ipod Screen Styles by HR

  Last modified - 18.01.2010
*/

/* =globals */

.idrag { cursor: move !important; position: absolute; }
#idrag_black_sand { background: transparent url('') no-repeat top left; display: block; left: 2px; top: 5px; }
#idrag_grafitti { background: transparent url('') no-repeat top left; display: block; left: 2px; top: 50px;  }
#idrag_forest { background: transparent url('') no-repeat top left; display: block; left: 2px; top: 100px;  }
#idrag_palm_beach { background: transparent url('') no-repeat top left; display: block; left: 2px; top: 150px;  }
